<!doctype html>
<html>
    <head>
        <title>Item Page</title>
    </head>
    <body>
        <div id="root">
            <h1>Item Page</h1>
        </div>
        <script src="/bundle/browse.js"></script>
    </body>
</html>
