body{
  background:#fbfbfb;
  font-family: Arial, sans-serif;
  padding:0;
  margin:0;
}
.list{
  &__wrapper{
    max-width:1200px;
    display: flex;
    flex-wrap:wrap;
  }
}
.card{
  &__itemWrapper {
    display: block;
    flex:0 0 33.3333%;
    max-width:33.3333%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  &__inner{
    background: #fff;
    box-shadow: 0px 2px 6px #f6f6f6;
    border-radius: 2px;
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;

    img{
      max-width: 100%;
      padding:10px;
      box-sizing: border-box;
    }
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
  }
  &__favouriteWrapper{
    position: relative;
    top: 0;
    z-index: 2;
    right: 0;
  }
}
.header{
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
  background:#fff;
  box-shadow: 0px 2px 6px #f6f6f6;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 10px;
  position:relative;
}

.browse{
  text-align: center;
  &__loadMore{
    border: 1px solid #b19b57;
    border-radius:25px;
    background:#fff;
    color:#b39b5c;
    text-transform: uppercase;
    padding:15px 60px;
    cursor:pointer;
    margin:10px 0 20px;
    &:focus{
      outline:none;
    }
  }
}
.item{
  &__header{
    text-align: center;
    position: relative;
  }
  &__wrapper{
    display: flex;
    height:395px;
  }
  .favourite{
    &__wrapper{
      position: absolute;
      top: 20px;
      z-index: 2;
      right: 25px;
    }
  }
  &__backButton{
    font-size: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
    cursor: pointer;
    
      a{
        color:black;
        text-decoration: none;
      }
  }
} 
.item{
  &__left{
    flex: 0 0 25%;
    padding: 10px;
    position:relative;
  }
  &__right{
    flex: 0 0 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title{
    font-size: 18px;
    margin-bottom:15px;
  }
  &__measurements{
    margin-bottom:15px;
  }
  &__creator{
    margin-top:10px;
  }
}

.right{
  &__buttons{
    border-top:1px solid #f6f6f6;
    height: 40px;
    button{
      color:#b19b57;
      background: #fff;
      width:50%;
      height:100%;
      border:0;
      border-right:1px solid #f6f6f6;

      &:last-child {
        border-right: 0;
      }
    }
  }
  &_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    background: #fff;
    margin: 10px 0;
    height: 50%;
    padding:10px;
    border:1px solid #f6f6f6;
  }
  &__firstBlock{
    padding: 10px 0 0;
    justify-content: space-between;
  }
  &__firstBlock_inner{
    padding: 0 10px;
  }
}
.left{
  &__inner{
    background: white;
    border:1px solid #f6f6f6;
    position: relative;
    height:100%;
    img{
      max-width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%, -50%);
    }
  }
}
.favourite{
  &_active{
    color:red;
  }
}

